<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<table>

    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Birth Date</th>
        <th>Locations</th>
    </tr>
    {% for person in persons %}
    <tr>
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.email}}</td>
        <td>{{person.birth_date}}</td>
        <td>{{person.location}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
</body>
</html>